.request-quote-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.form{
    display: flex;
}

.mr-l-20{
    margin-left: 20px !important;
}

.mr-t-20 {
    margin-top: 20px;
}

